<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OurHistory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container-main">
        <h1>Seja bem-vinda!</h1>
        <button id="botaoIndex" class="botao-surpresa">Clique aqui</button>
    </div>
    <div id="particles-js"></div>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</html>
